@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------ colors */

.bg-color-name-title {
    background-color: #757171;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.ui-menu-color-home {
    background-color: #f8a064;
}

.ui-menu-color-resume {
    background-color: #cc90e4;
}

.ui-menu-color-contact {
    background-color: #73bdee;
}

.ui-menu-color-download {
    background-color: #9ef085;
}

/*------ special padding/margin/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display:table;
}

.section-column {
    display: table-cell;
    padding: 0 2rem 2rem;
    float: none;

}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/*------ header */

header {
    margin: 0;
}

.logo {
    background: url(../images/david.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 0;
    min-height: 33vh;
    transition: all.5s ease-in-out;
    -moz-transition: all.5s ease-in-out;
    -webkit-transition: all.5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 2.25rem;
    color: #ffffff;
    padding: 0 1rem;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2.25rem;
    color: #ffffff;
    padding: 0 1rem;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    padding: 0;
}

#nav li {
    font-size: 0.75rem;
    padding: 0;
}

.menuitem {
    height: 33%;
    padding: 0;
    text-align: center;
}

.menuitem a {
    width: 100%;
    height: 33%;
    text-decoration: none;
    color: #000000;
}

.menuitem a i {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.menuitem span {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

#nav {
    margin: 0;
}

/*------ hover */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

/*------ footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 11vh;
    margin: 0;
    }

.cv-pdf i {
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
    padding-left: 0.25rem;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    }
        
.cv-pdf i:hover {
        color: #f8a064;
    }

.social-links {
    padding-bottom: 0.5rem;
}    

.social-links li a i {
    width: 2rem;
    height: 2rem;
    padding-top: 0.75rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 0.25rem;
    margin: 0 1rem 0 0;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #f8a064;
}

#footer-details {
    padding: 1.5rem;
}

/*------ three reasons */

.three-reasons-icon {
    font-size: 1.5rem;
    color: #f8a064;
}

.three-reasons-heading {
    margin-bottom: 1rem;
}
